{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/mdb.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-success"> HARI PATNAM OFFICIAL </h1>
    

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>

    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/haripatnam.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HARI PATNAM </h5>
          <p class="card-text">I DONT LIKE MY SELF </p>
          <a href="https://in.search.yahoo.com/search?fr=mcafee&type=E211IN885G0&p=hari+patnam+official" class="btn btn-primary">CLICK ON MORE INFO</a>
        </div>
      </div>
    </center>
</body>
</html>